.parent{
    background-image: url("src/assets/heroImage.jpg");
    opacity: 0.65;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-decoration: none;
}

.plan {
    background-color: #163290;
    color: white;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    font-family: "Noto Sans Tamil Supplement", "Arial", sans-serif;
    text-decoration: none;
}

.plan > #pay-now > a{
    background-color: #883bef;
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

#plan-1{
    grid-area: 2 / 2 / 4 / 3;
}

#plan-1 > h3,
#plan-1 > h4,
#plan-1 > p {
    background-color: #163290;
}

#plan-2{
    grid-area: 2 / 4 / 4 / 5;
}

#plan-2 > h3,
#plan-2 > h4,
#plan-2 > p {
    background-color: #163290;
}

#plan-3{
    grid-area: 2 / 6 / 4 / 7;
}

#plan-3 > h3,
#plan-3 > h4,
#plan-3 > p {
    background-color: #163290;
}

.movie {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 376px;
    border-radius: 5px;
    text-align: center;
    background-color: gray;
}

.filler {
    margin-top: 50px;
    margin-bottom: 50px;
}

.poster {
    height: 376px;
    width: 250px;
    border-radius: 5px;
}

.posters {
    display: flex;
    justify-content: center;
}

#movie-1 {
    margin-right: 10%;
    margin-left: 10px;
    font-family: "Noto Sans Tamil Supplement", "Arial", sans-serif;
}

#movie-2 {
    font-family: "Noto Sans Tamil Supplement", "Arial", sans-serif;
}

#movie-3 {
    margin-left: 10%;
    margin-right: 10px;
    font-family: "Noto Sans Tamil Supplement", "Arial", sans-serif;
}

h1{
    font-family: "Noto Sans Tamil Supplement", "Arial", sans-serif;
    color: white;
    text-align: center;
}