body {
    font-family: "Noto Sans Tamil Supplement", "Arial", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.userInfo {
    /*background-color: #0a43f0;*/
    border-radius: 10px;
    width: 300px;
    padding: 40px 20px;
    margin: 0 auto;
    text-align: center;
}

h3 {
    color: #e4e9fa;
    /*background-color: #0a43f0;*/
    font-size: 24px;
    margin-bottom: 20px;
}

#Username, #Password {
    font-size: large;
    font-family: "Noto Sans Tamil Supplement", "Arial", sans-serif;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
    background-color: #e4e9fa;
}

.login-button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #0a43f0;
    color: #e4e9fa;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
    margin-top: 20px;
}

.signUpPrompt {
    font-size: 14px;
    color: #e4e9fa;
}

.signUpButton {
    text-decoration: none;
    color: #e4e9fa;
    font-weight: bold;
}

.signUpButton:hover {
    text-decoration: underline;
}