.movie {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 376px;
    border-radius: 5px;
    text-align: center;
    background-color: gray;
}

.filler {
    margin-top: 50px;
    margin-bottom: 50px;
}

.poster {
    height: 376px;
    width: 250px;
    border-radius: 5px;
}

.posters {
    display: flex;
    justify-content: center;
}

#movie-1 {
    margin-right: 10%;
    margin-left: 10px;
    font-family: "Noto Sans Tamil Supplement", "Arial", sans-serif;
}

#movie-2 {
    font-family: "Noto Sans Tamil Supplement", "Arial", sans-serif;
}

#movie-3 {
    margin-left: 10%;
    margin-right: 10px;
    font-family: "Noto Sans Tamil Supplement", "Arial", sans-serif;
}

h1{
    font-family: "Noto Sans Tamil Supplement", "Arial", sans-serif;
    color: white;
    text-align: center;
}