.footer {
    background-color: #163290;
    color: #e4e9fa;
    font-family: "Commissioner", "Arial", sans-serif;
    display: flex;
    /*position:absolute;*/
    /*left:0;*/
    /*bottom:0;*/
    /*right:0;*/
}

.contact{
    margin-left: 10px;
}

.contact > u,
.about > u,
.other > u{
    background-color: #163290;
    font-weight: bold;
}

.contact,
.about,
.other{
    background-color: #163290;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 18%;
}

.about > a,
.other > a{
    background-color: #163290;
    text-decoration: none;
    color: #e4e9fa;
}